#ðŸ’¦Import Libraries

In [2]:
import numpy as np
import pandas as pd

Import Data

In [5]:
data = pd.read_csv("covid_19_clean_complete.csv")

In [6]:
data.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [7]:
data.tail()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [11]:
# Drop Province/State column because of huge data lost
data = data.drop("Province/State", axis =1)

In [13]:
data.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

Note:
there are aoutliers in ;
Long	, Confirmed , Deaths, Recovered , Active

Check null values

In [14]:
data.isnull().sum()

Country/Region    0
Lat               0
Long              0
Date              0
Confirmed         0
Deaths            0
Recovered         0
Active            0
WHO Region        0
dtype: int64

Group data ( country and Deaths )

In [20]:
grouped_data = data.groupby('Country/Region')['Deaths'].mean()
grouped_data

Country/Region
Afghanistan           261.159574
Albania                30.361702
Algeria               414.744681
Andorra                28.845745
Angola                  5.734043
                         ...
West Bank and Gaza      7.287234
Western Sahara          0.335106
Yemen                  94.186170
Zambia                 14.058511
Zimbabwe                4.686170
Name: Deaths, Length: 187, dtype: float64

In [21]:
grouped_data = data.groupby('Country/Region')['Recovered'].mean()
grouped_data

Country/Region
Afghanistan           4245.957447
Albania                632.324468
Algeria               4020.728723
Andorra                367.414894
Angola                  34.962766
                         ...
West Bank and Gaza     325.127660
Western Sahara           3.446809
Yemen                  126.484043
Zambia                 444.739362
Zimbabwe                64.930851
Name: Recovered, Length: 187, dtype: float64

In [22]:
grouped_data = data.groupby('Country/Region')['Active'].mean()
grouped_data

Country/Region
Afghanistan           5792.829787
Albania                383.601064
Algeria               1839.819149
Andorra                105.888298
Angola                  79.845745
                         ...
West Bank and Gaza     909.398936
Western Sahara           1.010638
Yemen                  136.670213
Zambia                 229.611702
Zimbabwe               200.563830
Name: Active, Length: 187, dtype: float64

In [24]:
df = data['Country/Region'].value_counts()
df

Country/Region
China             6204
Canada            2256
France            2068
United Kingdom    2068
Australia         1504
                  ...
Holy See           188
Honduras           188
Hungary            188
Iceland            188
Lesotho            188
Name: count, Length: 187, dtype: int64